<nav class="navbar  navbar-fixed-top">
<div class="nav_div">
    <div class="nav_logo">
        <span>好机有</span><br/>hao7you.com
    </div>
<a href="/" class="nav_item">
    首页
</a>
<a href="/brand" class="nav_item">
品牌管理
</a>
<a href="/tag" class="nav_item">
    标签管理
</a>
<a href="/logout" class="nav_item btn_logout">
    注销
</a>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">网站管理<span class="caret"></span></a>
<ul class="dropdown-menu">
    <li><a href="/manager/settings">全局设置</a></li>
    <li><a href="/manager/account">账号管理</a></li>
    <li><a href="/manager/logging">日志查看</a></li>
<ul>
</li>
</div>
</nav>
