$def with(data="")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>

<body algin="center" margin=20>
    <form method="post" id="List" name="List"  action="/admin/clearBugsList/post">
    <h3>执行此操作，请三思</h3>
    <input style="" type="submit" value="确定清空整个故障列表" />
    <p><a href="/yeslist">单条删除已解决记录</a>
<br>
    
</body>
