$def with(data="")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
    body{margin:50px}
</style>


</head>

<body algin="center" margin=20>
    <table width="500" border="1">
        <tr>
            <td>学号</td><td>姓名</td><td>累计解决问题</td><td>联系号码</td>
        </tr>
$for i in data:
    <tr><td>$i.No</td><td>$i.Name</td><td>$i.Total</td><td>$i.Phone</td></tr>

</table>
    
</body>
</html>
