$def with(data="")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
    body{margin:50px}
    input{
        width:150px;
    }
</style>
</head>

<body algin="center" margin=20>
    <form method="post" id="List" name="List"  action="/admin/setMess/post">
    <b>设置首页的公告信息:</b><br>
    <textarea name="Content" cols=40 rows=10 style="overflow:auto" id="Content" />$data</textarea>
    <input style="width:50px" type="submit" value="确定" />
<br>
    
</body>
</html>
