$def with(mess="")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
    body{margin:50px}
</style>

</head>

<body algin="center" margin=20>
    <li><h3><a href="#search">搜索使用帮助</a></h3></li>
    <li><h3><a href="#submit">故障提交帮助</a></h3></li>
    <p><p>
    <a name="search"><b>搜索使用帮助</b></a>
    <hr>
    <font size="5px">搜索功能有什么用？有时候，你遇到了一个电脑故障，但是也许以前已经有人已经通过我们的故障预约系统向我们提交了问题，并且我们帮他/她解决了这个故障。我们会把故障原因，和故障处理方法，写进去。这时候，你只需要通过搜索功能，将你的问题输入进入，在我们的故障数据库中查找，如果有匹配的，就会给你显示。在一定程度上，你就可以自己解决这个问题了。<br>
        搜索功能怎么用呢？我该输入什么，才能找到我自己要的结果呢？ 在搜索功能中，我编写了一套很简单的匹配算法。你在输入的时候，尽可能地输入简单点的短语，输入的东西，最好是关键词。如果你想要查询多种故障，可以在多个故障关键词中，中间以空格相隔。举几个例子：<br>
        比如你的电脑网连不上了，可以搜索：网不上 （注：这里“网"就是关键词，代表着故障的主角，当然你也可以换成”网络“，"不" 字也是很关键字哦，代表着故障的状态）<br>
        比如你的电脑蓝屏，你可以直接搜索：蓝屏 (注：这个不用解释吧)<br>
        比如你的电脑开不了机，你可以直接搜索：开不机<br>
        再比如你的电脑卡，并且连不上网，你可以搜索：卡 慢 网不上 （注：空格的作用是“或者”）<br>
        上面举了这么多例子，应该会用搜索引擎了吧～～<br>
        我们再来说说？为什么要用这个搜索功能，为什么不用谷歌或者百度的呢？我们唯一的优势，就是比较接地气，比较贴近生活环境，我们这边的故障都是发现在校园的，都是发现在学生群中的，所以你懂的。并且我们的故障解决方法，都是经过实践总结得到的~<br></font>

    <p><p>
    <a name="search"><b>提交帮助</b></a>
    <hr>
    <font size="5px">
        我该提交哪些信息？为了能更好，更快地为你解决电脑故障，你需要提交：故障信息（至少十个字哦），姓名，联系号码（很重要，一定要填写正确，可以写6位短号*推荐，或者11位长号），寝室号（方便我们上门提供服务，我们可以进入女生寝室哦。我们只修电脑，请放心~），希望我们什么时候过去修（你什么时候有空，或者什么时候方便我们去修电脑，请告诉我们，我们好与你联系）。<br>
    现在知道该提交哪些信息了吧？那快把相关的信息，填写到相应的输入框内，然后点击提交按钮。如果信息没有什么问题，会出现一副画，表示我们已经收到故障信息了，我们会尽快为你解决故障<br>
    亲爱的同学，你在提交故障前，请留意下，我们的搜索功能，也许你的故障已经被我们的技术人员解决了呢~这时候你就可以自己解决了，以后妈妈再也不用担心我电脑坏了～～ <br>
</font>
    <p>
    <p>
        
    <a href="/">帮助都看懂了，去首页喽</a>
    
</body>
</html>
